/****** Object:  StoredProcedure [dbo].[sp_InsertarMovimiento]    Script Date: 4/5/2026 19:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarMovimiento]
    @inIdEmpleado           INT
    ,@inIdTipoMovimiento    INT
    ,@inMonto               DECIMAL(10,2)
    ,@inIdPostByUser        INT
    ,@inIpPostIn            NVARCHAR(50)
    ,@outResultCode         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SET @outResultCode = 0

    DECLARE @saldoActual            DECIMAL(10,2)   = 0
    DECLARE @nuevoSaldo             DECIMAL(10,2)   = 0
    DECLARE @tipoAccion             NVARCHAR(20)    = ''
    DECLARE @nombreTipoMovimiento   NVARCHAR(100)   = ''
    DECLARE @cedulaEmpleado         NVARCHAR(20)    = ''
    DECLARE @nombreEmpleado         NVARCHAR(100)   = ''
    DECLARE @resultBitacora         INT             = 0
    DECLARE @descripcionBitacora    NVARCHAR(500)   = ''
    DECLARE @descripcionError NVARCHAR(500) = ''

    BEGIN TRY

        -- Leer datos del empleado
        SELECT
            @cedulaEmpleado = e.ValorDocumentoIdentidad
            ,@nombreEmpleado = e.Nombre
            ,@saldoActual   = e.SaldoVacaciones
        FROM dbo.Empleado e
        WHERE (e.Id = @inIdEmpleado)

        -- Leer datos del tipo de movimiento
        SELECT
            @nombreTipoMovimiento   = tm.Nombre
            ,@tipoAccion            = tm.TipoAccion
        FROM dbo.TipoMovimiento tm
        WHERE (tm.Id = @inIdTipoMovimiento)

        -- Calcular nuevo saldo segun tipo de accion
        IF (@tipoAccion = 'Debito')
        BEGIN

            -- Validar que el saldo no quede negativo
            IF ((@saldoActual - @inMonto) < 0)
            BEGIN

                SET @outResultCode = 50011
                SELECT @descripcionError = e.Descripcion
                FROM dbo.Error e
                WHERE (e.Codigo = 50011)

                SET @descripcionBitacora = CONCAT(
                    @descripcionError
                    ,' | Cedula: '          , @cedulaEmpleado
                    ,' | Nombre: '          , @nombreEmpleado
                    ,' | SaldoActual: '     , @saldoActual
                    ,' | TipoMovimiento: '  , @nombreTipoMovimiento
                    ,' | Monto: '           , @inMonto)

                EXEC dbo.sp_InsertarBitacoraEvento
                    @inIdTipoEvento     = 13
                    ,@inDescripcion     = @descripcionBitacora
                    ,@inIdPostByUser    = @inIdPostByUser
                    ,@inIpPostIn        = @inIpPostIn
                    ,@outResultCode     = @resultBitacora OUTPUT

                RETURN

            END

            SET @nuevoSaldo = @saldoActual - @inMonto

        END
        ELSE
        BEGIN

            SET @nuevoSaldo = @saldoActual + @inMonto

        END

        -- Transaccion para insertar movimiento y actualizar saldo
        BEGIN TRANSACTION

            INSERT INTO dbo.Movimiento
                ( IdEmpleado
                , IdTipoMovimiento
                , Fecha
                , Monto
                , NuevoSaldo
                , IdUsuario
                , IpPostIn
                , PostTime )
            VALUES
                ( @inIdEmpleado
                , @inIdTipoMovimiento
                , GETDATE()
                , @inMonto
                , @nuevoSaldo
                , @inIdPostByUser
                , @inIpPostIn
                , GETDATE() )

            UPDATE dbo.Empleado
            SET SaldoVacaciones = @nuevoSaldo
            WHERE (Id = @inIdEmpleado)

        COMMIT TRANSACTION

        -- Registrar insercion exitosa en bitacora
        SET @descripcionBitacora = CONCAT(
            'Cedula: '              , @cedulaEmpleado
            ,' | Nombre: '         , @nombreEmpleado
            ,' | NuevoSaldo: '     , @nuevoSaldo
            ,' | TipoMovimiento: ' , @nombreTipoMovimiento
            ,' | Monto: '          , @inMonto)

        EXEC dbo.sp_InsertarBitacoraEvento
            @inIdTipoEvento     = 14
            ,@inDescripcion     = @descripcionBitacora
            ,@inIdPostByUser    = @inIdPostByUser
            ,@inIpPostIn        = @inIpPostIn
            ,@outResultCode     = @resultBitacora OUTPUT

    END TRY
    BEGIN CATCH

        IF (XACT_STATE() <> 0)
            ROLLBACK TRANSACTION

        SET @outResultCode = 50008

        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() )

    END CATCH

END