/****** Object:  StoredProcedure [dbo].[sp_InsertarBitacoraEvento]    Script Date: 26/4/2026 22:12:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarBitacoraEvento]
    @inIdTipoEvento     INT
    ,@inDescripcion     NVARCHAR(500)
    ,@inIdPostByUser    INT
    ,@inIpPostIn        NVARCHAR(50)
    ,@outResultCode     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SET @outResultCode = 0

    BEGIN TRY

        INSERT INTO dbo.BitacoraEvento
            ( IdTipoEvento
            , Descripcion
            , IdUsuario
            , IpPostIn
            , PostTime )
        VALUES
            ( @inIdTipoEvento
            , @inDescripcion
            , @inIdPostByUser
            , @inIpPostIn
            , GETDATE() )

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008

        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() )

    END CATCH

END