/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 26/4/2026 22:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarEmpleado]
    @inIdPuesto                     INT
    ,@inValorDocumentoIdentidad     NVARCHAR(20)
    ,@inNombre                      NVARCHAR(100)
    ,@inFechaContratacion           DATE
    ,@inIdPostByUser                INT
    ,@inIpPostIn                    NVARCHAR(50)
    ,@outResultCode                 INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SET @outResultCode = 0

    DECLARE @existeCedula       INT         = 0
    DECLARE @existeNombre       INT         = 0
    DECLARE @nombrePuesto       NVARCHAR(100) = ''
    DECLARE @resultBitacora     INT         = 0
    DECLARE @descripcionError   NVARCHAR(500) = ''

    BEGIN TRY

        -- Validar que el nombre sea solo letras y espacios
        IF (@inNombre LIKE '%[^a-zA-Z ]%')
        BEGIN

            SET @outResultCode = 50009
            SET @descripcionError = CONCAT('Error 50009 | CedulaIntento: ', @inValorDocumentoIdentidad
                                        , ' | NombreIntento: ', @inNombre)

            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 5
                ,@inDescripcion     = @descripcionError
                ,@inIdPostByUser    = @inIdPostByUser
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT

            RETURN

        END

        -- Validar que la cedula sea solo numeros
        IF (@inValorDocumentoIdentidad LIKE '%[^0-9]%')
        BEGIN

            SET @outResultCode = 50010
            SET @descripcionError = CONCAT('Error 50010 | CedulaIntento: ', @inValorDocumentoIdentidad
                                        , ' | NombreIntento: ', @inNombre)

            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 5
                ,@inDescripcion     = @descripcionError
                ,@inIdPostByUser    = @inIdPostByUser
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT

            RETURN

        END

        -- Verificar si ya existe un empleado con esa cedula
        SELECT @existeCedula = COUNT(e.Id)
        FROM dbo.Empleado e
        WHERE (e.ValorDocumentoIdentidad = @inValorDocumentoIdentidad)

        IF (@existeCedula > 0)
        BEGIN

            SET @outResultCode = 50004
            SET @descripcionError = CONCAT('Error 50004 | CedulaIntento: ', @inValorDocumentoIdentidad
                                        , ' | NombreIntento: ', @inNombre)

            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 5
                ,@inDescripcion     = @descripcionError
                ,@inIdPostByUser    = @inIdPostByUser
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT

            RETURN

        END

        -- Verificar si ya existe un empleado con ese nombre
        SELECT @existeNombre = COUNT(e.Id)
        FROM dbo.Empleado e
        WHERE (e.Nombre = @inNombre)

        IF (@existeNombre > 0)
        BEGIN

            SET @outResultCode = 50005
            SET @descripcionError = CONCAT('Error 50005 | CedulaIntento: ', @inValorDocumentoIdentidad
                                        , ' | NombreIntento: ', @inNombre)

            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 5
                ,@inDescripcion     = @descripcionError
                ,@inIdPostByUser    = @inIdPostByUser
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT

            RETURN

        END

        -- Obtener nombre del puesto para la bitacora
        SELECT @nombrePuesto = p.Nombre
        FROM dbo.Puesto p
        WHERE (p.Id = @inIdPuesto)

        -- Insertar el empleado
        INSERT INTO dbo.Empleado
            ( IdPuesto
            , ValorDocumentoIdentidad
            , Nombre
            , FechaContratacion
            , SaldoVacaciones
            , EsActivo )
        VALUES
            ( @inIdPuesto
            , @inValorDocumentoIdentidad
            , @inNombre
            , @inFechaContratacion
            , 0
            , 1 )

        -- Registrar insercion exitosa en bitacora
        SET @descripcionError = CONCAT('Cedula: ', @inValorDocumentoIdentidad
                                    , ' | Nombre: ', @inNombre
                                    , ' | Puesto: ', @nombrePuesto)

        EXEC dbo.sp_InsertarBitacoraEvento
            @inIdTipoEvento     = 6
            ,@inDescripcion     = @descripcionError
            ,@inIdPostByUser    = @inIdPostByUser
            ,@inIpPostIn        = @inIpPostIn
            ,@outResultCode     = @resultBitacora OUTPUT

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008

        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() )

    END CATCH

END