ALTER PROCEDURE dbo.sp_Login
    @inUsuario      VARCHAR(50)
    ,@inPassword    VARCHAR(60)
    ,@inIpPostIn    VARCHAR(15)
    ,@outResultCode INT         OUTPUT
    ,@outIdUsuario  INT         OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode  = 0
    SET @outIdUsuario   = 0

    DECLARE @idUsuario              INT             = 0
    DECLARE @passwordBD             VARCHAR(60)     = ''
    DECLARE @intentosFallidos       INT             = 0
    DECLARE @idSistema              INT             = 1
    DECLARE @resultBitacora         INT             = 0
    DECLARE @descripcionBitacora    VARCHAR(400)    = ''

    BEGIN TRY
        -- Verificar si el usuario existe y traer su password
        SELECT
            @idUsuario   = u.Id
            ,@passwordBD = u.Password
        FROM dbo.Usuario u
        WHERE (u.Username = @inUsuario)

        -- Usuario no existe
        IF (@idUsuario = 0)
        BEGIN
            SET @outResultCode = 50001
            SET @descripcionBitacora = 'Intento: 1 Codigo error: 50001'
            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 2
                ,@inDescripcion     = @descripcionBitacora
                ,@inIdPostByUser    = @idSistema
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT
            RETURN
        END

        -- Contar intentos fallidos de este usuario en los ultimos 20 minutos
        SELECT @intentosFallidos = COUNT(be.Id)
        FROM dbo.BitacoraEvento be
        WHERE (be.IdTipoEvento = 2)
            AND (be.IdUsuario  = @idUsuario)
            AND (be.IpPostIn   = @inIpPostIn)
            AND (be.PostTime   >= DATEADD(MINUTE, -20, GETDATE()))

        -- Login deshabilitado por demasiados intentos
        IF (@intentosFallidos >= 5)
        BEGIN
            SET @outResultCode = 50003
            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 3
                ,@inDescripcion     = ''
                ,@inIdPostByUser    = @idSistema
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT
            RETURN
        END

        -- Password incorrecto
        IF (@passwordBD <> @inPassword)
        BEGIN
            SET @outResultCode = 50002
            SET @descripcionBitacora = CONCAT('Intento: ', @intentosFallidos + 1, ' Codigo error: 50002')
            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 2
                ,@inDescripcion     = @descripcionBitacora
                ,@inIdPostByUser    = @idUsuario
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT
            RETURN
        END

        -- Login exitoso
        SET @outIdUsuario = @idUsuario
        EXEC dbo.sp_InsertarBitacoraEvento
            @inIdTipoEvento     = 1
            ,@inDescripcion     = 'Exitoso'
            ,@inIdPostByUser    = @idUsuario
            ,@inIpPostIn        = @inIpPostIn
            ,@outResultCode     = @resultBitacora OUTPUT

    END TRY
    BEGIN CATCH
        SET @outResultCode = 50008
        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() )
    END CATCH
END
GO