/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 26/4/2026 22:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ListarEmpleados]
    @inFiltro           NVARCHAR(100)
    ,@inIdPostByUser    INT
    ,@inIpPostIn        NVARCHAR(50)
    ,@outResultCode     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SET @outResultCode = 0

    DECLARE @esSoloNumeros          BIT             = 0
    DECLARE @filtroVacio            BIT             = 0
    DECLARE @resultBitacora         INT             = 0
    DECLARE @descripcionBitacora    NVARCHAR(500)   = ''

    BEGIN TRY

        -- Determinar tipo de filtro
        IF (LTRIM(RTRIM(@inFiltro)) = '')
            SET @filtroVacio = 1

        IF (@inFiltro NOT LIKE '%[^0-9]%' AND LTRIM(RTRIM(@inFiltro)) <> '')
            SET @esSoloNumeros = 1

        -- Filtro vacio, listar todos
        IF (@filtroVacio = 1)
        BEGIN

            SELECT
                e.Id
                ,e.Nombre
                ,e.ValorDocumentoIdentidad
                ,e.FechaContratacion
                ,e.SaldoVacaciones
                ,e.EsActivo
                ,p.Nombre AS NombrePuesto
            FROM dbo.Empleado e
                INNER JOIN dbo.Puesto p ON e.IdPuesto = p.Id
            WHERE (e.EsActivo = 1)
            ORDER BY e.Nombre ASC

            RETURN

        END

        -- Filtro por cedula
        IF (@esSoloNumeros = 1)
        BEGIN

            SELECT
                e.Id
                ,e.Nombre
                ,e.ValorDocumentoIdentidad
                ,e.FechaContratacion
                ,e.SaldoVacaciones
                ,e.EsActivo
                ,p.Nombre AS NombrePuesto
            FROM dbo.Empleado e
                INNER JOIN dbo.Puesto p ON e.IdPuesto = p.Id
            WHERE (e.EsActivo = 1)
                AND (e.ValorDocumentoIdentidad LIKE '%' + @inFiltro + '%')
            ORDER BY e.Nombre ASC

            SET @descripcionBitacora = CONCAT('FiltroCedula: ', @inFiltro)

            EXEC dbo.sp_InsertarBitacoraEvento
                @inIdTipoEvento     = 12
                ,@inDescripcion     = @descripcionBitacora
                ,@inIdPostByUser    = @inIdPostByUser
                ,@inIpPostIn        = @inIpPostIn
                ,@outResultCode     = @resultBitacora OUTPUT

            RETURN

        END

        -- Filtro por nombre
        SELECT
            e.Id
            ,e.Nombre
            ,e.ValorDocumentoIdentidad
            ,e.FechaContratacion
            ,e.SaldoVacaciones
            ,e.EsActivo
            ,p.Nombre AS NombrePuesto
        FROM dbo.Empleado e
            INNER JOIN dbo.Puesto p ON e.IdPuesto = p.Id
        WHERE (e.EsActivo = 1)
            AND (e.Nombre LIKE '%' + @inFiltro + '%')
        ORDER BY e.Nombre ASC

        SET @descripcionBitacora = CONCAT('FiltroNombre: ', @inFiltro)

        EXEC dbo.sp_InsertarBitacoraEvento
            @inIdTipoEvento     = 11
            ,@inDescripcion     = @descripcionBitacora
            ,@inIdPostByUser    = @inIdPostByUser
            ,@inIpPostIn        = @inIpPostIn
            ,@outResultCode     = @resultBitacora OUTPUT

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008

        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() )

    END CATCH

END